<nav class="navbar navbar-static-top navbar-inverse">
  <div class="container-fluid">
    <div style="display:block;" class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
      <ul style="float:left; width: 100px" class="nav navbar-nav">
        <li class="active" style="cursor: pointer;"><a  ng-click="goToHome()">Home</a></li>
      </ul>
      <ul style="float:left; width: 100px" class="nav navbar-nav">
        <li class="active" style="cursor: pointer;"><a ng-click="goToSetting()">Setting</a></li>
      </ul>
    </div>
  </div>
</nav>


